
<%= form_for(@user) do |f|  %>
  <%= f.label :first_name, "First Name:" %>
  <%= f.text_field :first_name, class: 'textarea' %>
  <%= f.label :last_name, "Last Name:" %>
  <%= f.text_field :last_name %>
  <%= f.label :email, "Email (For Login):" %>
  <%= f.text_field :email %>
  <%= f.label :password, "Password:" %>
  <%= f.text_field :password %>
  <%= f.label :password_confirmation, "Password Confirmation:" %>
  <%= f.text_field :password_confirmation %>
  <%= f.fields_for :location do |ll| %>
    <%= ll.label :city, "City:" %>
    <%= ll.text_field :city %>
    <%= ll.label :state, "State:", pattern: "[A-Z]{2}" %>
    <%= ll.text_field :state %>
    <%= ll.label :timezone, "Timezone:" %>
    <%= ll.time_zone_select :timezone %>
  <% end %>
  <%= f.fields_for :profile do |ff| %>
    <%= ff.fields_for :company do |tt| %>
      <%= tt.label :name, "Company:" %>
      <%= tt.text_field :name %>
    <% end %>
    <%= ff.label :title, "Title:" %>
    <%= ff.text_field :title %>
  <%= f.label :skills, "Areas of Expertise:" %>
    <div class="checkboxes">
      <% Skill.all.each do |skill| %>
        <div class="box-label">
          <%= ff.label skill.name %>
          <%= ff.check_box :skill_ids, {multiple:true},  skill.id, f.object.profile.skills.include?(skill) %>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= f.label :accepting_mentees, "Accepting Mentees?" %>
  <%= f.check_box :accepting_mentees %>
  <%= f.label :avatar, "Upload a Photo:" %>
  <%= f.file_field :avatar %>
  <%= f.submit "Sign Up" %>
<% end %>
