<ul class='form-style-4'>
  <%= image_tag (current_user.avatar.url(:small)) %>
  <li><%= current_user.name %></li>
  <li><%= current_user.email %></li>
<% if current_user.role == "mentor" %>
  <li><%= current_user.city %></li>
  <li><%= current_user.state %></li>
  <li><%= current_user.timezone %></li>
  <li><%= current_user.company %></li>
  <li><%= current_user.title %></li>
  <% current_user.skills.each do |skill| %>
    <li><%= skill.name %></li>
  <% end %>
  <li><input type="checkbox" name="accepting_mentees" value="Accepting Mentees?">Accepting Mentees?</li>
  <% end %>
  <button type="password" name="password">Show Password</button>
</ul>
